{{>layout/header}}
<h1>주차장 등록</h1>
<div class="col-md-12">
    <div class="col-md-4">
        <form action="/rest/happyParkingRegister" method="post">
            <div class="form-group">
                <h3>주차장 이름</h3>
                <input type="text" id="parkingName" name="parkingName" value="{{request.parkingName}}">
            </div><br><br>

            <div class="form-group">
                <h3>주차장 타입</h3>
                {{#wrap}}
                <input type="radio" id="s1" name="parkingType" value="단독주택">단독 주택
                <input type="radio" id="s2" name="parkingType" value="개인 사유지">개인 사유지
                <input type="radio" id="s3" name="parkingType" value="공동 주택">공동 주택
                <input type="radio" id="s4" name="parkingType" value="기타">기타
         <input type="text" id="parkingType" placeholder="asdf" value="{{request.parkingType}}">
            </div><br><br>
                {{/wrap}}
            <h3>요금 및 칸</h3>
            <div class="form-group">
                30분당 기본요금<br>
                <input type="text" id="min30Fee" placeholder="예) 800원" name="min30Fee"
                       value="{{request.min30Fee}}"><br><br>
                10분당 추가요금<br>
                <input type="text" id="addMin10Fee" placeholder="예) 300원" name="addMin10Fee"
                       value="{{request.addMin10Fee}}"><br><br>
                주차공간 수<br>
                <input type="text" id="place" placeholder="예)20 대" name="place"
                       value="{{request.place}}"><br><br>
            </div> <br><br>

            <h3>주소</h3>
            <div class="form-group">
                <input type="text" id="sample4_postcode" placeholder="우편번호" name="sample4_postcode"
                       value="{{request.sample4_postcode}}">
                <input type="button" onclick="sample4_execDaumPostcode()" value="주소 찾기"><br>
                <input type="text" id="sample4_roadAddress" placeholder="도로명주소" name="sample4_roadAddress"
                       value="{{request.sample4_roadAddress}}">
                <input type="text" id="sample4_jibunAddress" placeholder="지번주소" name="sample4_jibunAddress"
                       value="{{request.sample4_jibunAddress}}">
                <span id="guide" style="color:#999;display:none"></span>
                <input type="text" id="sample4_detailAddress" placeholder="상세주소" name="sample4_detailAddress"
                       value="{{request.sample4_detailAddress}}">
                <input type="text" id="sample4_extraAddress" placeholder="참고항목" name="sample4_extraAddress"
                       value="{{request.sample4_extraAddress}}">
            </div> <br><br>

            <h3>주차장 운영 시간</h3>
            <div class="form-group">
                평일시간 : <input type="text" id="dayTime" placeholder="09:00 ~ 16:00" name="dayTime"
                              value="{{request.dayTime}}"><br>
                주말시간 : <input type="text" id="weeTime" placeholder="09:00 ~ 16:00" name="weeTime"
                              value="{{request.weeTime}}"><br>
                공휴일시간 : <input type="text" id="holTime" placeholder="09:00 ~ 16:00" name="holTime"
                               value="{{request.holTime}}"><br>
            </div> <br><br>

            <h3>사진</h3>
            <p>충전소 사진을 등록해보세요</p>
            아파트 단지 지도 : <div>올린사진보이는공간1</div><br>
            <input type="hidden" id="aptMap" value="asdf1.png" name="aptMap"
                   value="{{request.aptMap}}">
            주차장 사진 : <div>올린사진보이는공간2</div><br>
            <input type="hidden" id="parkingPic" value="asdf2.png" name="parkingPic"
                   value="{{request.parkingPic}}">
            업로드 넣기

            <button type="submit" class="btn btn-primary" id="parkingRegBtn">등록하기</button>
            <a href="/" role="button" class="btn btn-secondary">취소</a>
        </form>

    </div>
</div>

{{>layout/footer}}