{{>layout/header}}
<h2>주차장 요청 목록</h2>
<table class="table table-horizontal" table-border>
    <thead class="thead-strong">
    <tr>
        <th>등록자</th>
        <th>아파트이름</th>
        <th>아파트타입</th>
        <th>주차장 칸수</th>
        <th>도로명주소</th>
        <th>상세주소</th>
        <th>여분주소</th>
        <th>등록날짜</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#requestList}}
        <tr>
            <td>{{id}}</td>
            <td><a href="/happyParking/requestHappyParking/{{parkingName}}">{{parkingName}}</a></td>
            <td>{{parkingType}}</td>
            <td>{{place}}</td>
            <td>{{SAMPLE4_ROADADDRESS}}</td>
            <td>{{SAMPLE4_DETAILADDRESS}}</td>
            <td>{{SAMPLE4_EXTRAADDRESS}}</td>
            <td>{{PARKINGDATE}}</td>
        </tr>
    {{/requestList}}
    </tbody>
</table>
{{>layout/footer}}