{{>layout/header}}
<h2> 유저 목록</h2>
<table class="table table-horizontal" table-border>
    <thead class="thead-strong">
    <tr>
        <th>아이디</th>
        <th>비밀번호</th>
        <th>이메일</th>
        <th>이름</th>
        <ht>폰번호</ht>
        <th>등록날짜</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#users}}
        <tr>
            <td>{{id}}</td>
            <td>{{password}}</td>
            <td>{{email}}</td>
            <td>{{name}}</td>
            <td>{{phone}}</td>
            <td>{{regDate}}</td>
        </tr>
    {{/users}}
    </tbody>
</table>
{{>layout/footer}}