<h1>member Edit page</h1>
{{>layout/header}} <!-- >는 현재 머스테치 파일을 기준으로 다른 파일을 가져옴. -->
아이디 &nbsp {{id}}<br>
비밀번호 입력 &nbsp <input type="password" id="password" placeholder="영문,숫자,특수문자 2가지 이상 6~15이내"><br>
비밀번호 확인 &nbsp <input type="password" id="password">
<button type="button" id="pwUpdate">비밀번호 수정</button><br>
이름 &nbsp {{name}}<br>
이메일 주소 &nbsp <input type="email" id="email">
<button type="button" id="emailCertification">인증번호</button><br>
<input type="text" id="CertificationNo">
<button type="button" id="CertificationConfirm">확인</button><br>
카드 번호 &nbsp <input type="number" id="cardNo"><br>
유효 기간 &nbsp <input type="number" id="cardDate"><br>
회원 유형 &nbsp
<input type="radio" name="userType" value="등록자">등록자
<input type="radio" name="userType" value="경비">경비<br>
계좌번호 &nbsp <input type="text" id="accountNo"><br>
은행이름 &nbsp <input type="text" id="bankName"><br>
당선공고사진 &nbsp <br>
관리업체 이름 &nbsp <input type="text" id="companyName"><br>
관리업체 번호 &nbsp <input type="text" id="companyNo"><br>
경비교육이수증 &nbsp <br>
<button type="button" class="btn btn-primary" id="btn-mypage-save">등록</button>
{{>layout/footer}}
