
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div>
            <a href="#" role="button" class="#">회사소개</a>&nbsp;|&nbsp;
            <a href="#" role="button" class="#">회원이용약관</a>&nbsp;|&nbsp;
            <a href="#" role="button" class="#">개인정보취급방침</a>&nbsp;|&nbsp;
            <a href="#" role="button" class="#">위치기반서비스 이용약관</a>
        </div>

        <div class="text-muted">Copyright &copy; 5km Charge &nbsp;|&nbsp;
            주소 : 대구광역시 북구 복현동 영진전문대(본관, 300호)<br>
            전화: XXXX-XXXX
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/index.js"></script>
<script src="/static/js/chargingRegister.js"></script>
</body>
</html>