<!DOCTYPE HTML>
<html>
<head> <!-- 페이지 로딩속도를 높이기 위해 css는 header에 js는 footer에 -->
    <!-- bootstrap.js의 경우 제이쿼리가 꼭 있어야만 한다. -->
    <title>5km home chrage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<h1>5km home charge</h1>
<div class="btn float-right">
    {{#user}}
        <p><span>{{user}}님 방가!</span></p>
        <a href="/logout" class="btn btn-success active" role="button">Logout</a>
    {{/user}}
    {{^user}}
        <button class="btn btn-success active" id="indexJoin">Join</button>
        <button class="btn btn-success active" id="indexLogin">Login</button>
    {{/user}}

</div>

<div class="container">

            <nav class="navbar navbar-expand-xl bg-dark navbar-dark">
                <a class="navbar-brand" href="/">Logo!</a>
                <ul class="navbar-nav position-static">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/chargingStation" id="navbardrop" data-toggle="dropdown">
                            SCS
                        </a>
                        <div class="dropdown-menu w-100">
                            <a class="dropdown-item" href="/chargingStation/chargingRegister">충전소 등록</a>
                            <a class="dropdown-item" href="/chargingStation/chargingSearch">충전소 찾기</a>
                            <a class="dropdown-item" href="/chargingStation/chargingHistory">이용 내역</a>
                            <a class="dropdown-item" href="/admin/chargingRequest">충전소 요청</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/happyParking" id="navbardrop" data-toggle="dropdown">
                            Happy Parking
                        </a>
                        <div class="dropdown-menu w-100">
                            <a class="dropdown-item" href="/happyParking/happyParkingRegister">주차장 등록</a>
                            <a class="dropdown-item" href="/happyParking/happyParkingSearch">주차장 찾기</a>
                            <a class="dropdown-item" href="/happyParking/happyParkingHistory">이용 내역</a>
                            <a class="dropdown-item" href="/admin/happyParkingRequest">주차장 요청</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/watchVehicle">Watch Vehicle</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/otherService" id="navbardrop" data-toggle="dropdown">
                            부가서비스
                        </a>
                        <div class="dropdown-menu w-100">
                            <a class="dropdown-item" href="/otherService/parkingMap">Parking Map</a>
                            <a class="dropdown-item" href="/otherService/EZCharging">Ez Charging</a>
                            <a class="dropdown-item" href="/otherService/QnA">QnA</a>
                            <a class="dropdown-item" href="/otherService/bestQnA">자주 묻는 질문</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/myPage" id="navbardrop" data-toggle="dropdown">
                           마이페이지
                        </a>
                        <div class="dropdown-menu w-100">
                            <a class="dropdown-item" href="/myPage/memberEdit">정보 수정</a>
                            <a class="dropdown-item" href="/myPage/bookmark">즐겨 찾기</a>
                            <a class="dropdown-item" href="/chargingStation/chargingRegister">충전소 등록</a>
                            <a class="dropdown-item" href="/happyParking/happyParkingRegister">주차장 등록</a>
                            <a class="dropdown-item" href="/myPage/history">이용 내역</a>
                            <a class="dropdown-item" href="/admin/memberList">회원 목록</a>
                        </div>
                    </li>
                </ul>
            </nav>

</div>
