{{>layout/header}} <!-- >는 현재 머스테치 파일을 기준으로 다른 파일을 가져옴. -->
<style>
    #index{

    }
    #intro{ margin:5px;
        width:100%; height:10%;
        display: block;
        text-align: center;
    }
    #intro h1{
        width:30%;
        display: inline-block;
    }
    #intro p{
        width:30%;
        display: inline-block;
    }

    #img{
        width:100%;
        text-align: center;
    }

    #SCSbutton{
        text-align: center;
    }
    #SCSbutton button{
        margin:10px;
        width:150px;
    }
</style>

<div id="index">
    <div id="intro">
        <h1>SCS SERVICE</h1>

        <p>매번 충전소 찾느라 지치셨죠?<br>
            당신의 <strong>시간</strong>을 아껴 드립니다.</p>
    </div>

    <div id = "img">
        <embed src ="https://mblogthumb-phinf.pstatic.net/MjAxNzA1MTJfNTUg/MDAxNDk0NTU0MTExOTk0.W66YfFvd4qv0BlB6mGxmUF2bn2FAOkjendSYj9AU1k8g.hlHSpgJrZ7wDL-5T1b7VLoVC0o0eW4E5767-freU_VAg.JPEG.ecocitydaegu/%EC%A0%84%EA%B8%B0%EC%9E%90%EB%8F%99%EC%B0%A8%EC%B6%A9%EC%A0%84%EA%B8%B0%EC%82%AC%EC%A7%84.jpg?type=w2">
    </div>

    <div id = "SCSbutton">
        <button type="button"><h4>충전소 찾기</h4></button>
    </div>
</div>
{{>layout/footer}}