{{>layout/header}} <!-- >는 현재 머스테치 파일을 기준으로 다른 파일을 가져옴. -->
<p>SCS SERVICE</p>
<p>매번 충전소 찾느라 지치셨죠?</p>
<p>당신의 시간을 아껴 드립니다</p>
<div id = "mainimage">
    <embed src ="https://mblogthumb-phinf.pstatic.net/MjAxNzA1MTJfNTUg/MDAxNDk0NTU0MTExOTk0.W66YfFvd4qv0BlB6mGxmUF2bn2FAOkjendSYj9AU1k8g.hlHSpgJrZ7wDL-5T1b7VLoVC0o0eW4E5767-freU_VAg.JPEG.ecocitydaegu/%EC%A0%84%EA%B8%B0%EC%9E%90%EB%8F%99%EC%B0%A8%EC%B6%A9%EC%A0%84%EA%B8%B0%EC%82%AC%EC%A7%84.jpg?type=w2">
</div>
<div id = "button">
    <button type="button">충전소 찾기</button>
</div>
{{>layout/footer}}