{{>layout/header}} <!-- >는 현재 머스테치 파일을 기준으로 다른 파일을 가져옴. -->
<style>
    #joinLogo{
        text-align: center;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    #userForm{
        margin-left:auto;
        margin-right:auto;
        width:500px;
    }
    #userForm form p span {
        text-align:right;
        display:inline-block;
        width:100px;
        margin-right:30px;
    }
    #button{
        text-align: center;
        margin-right: 15%;
    }

</style>

<div id="joinLogo">
    <h2>5Km Home Charge 회원가입</h2>
</div>

<div id="userForm">

    <form>
        <p><span>아이디 : </span><input type="text" id="joinId" required> <input type="button" value="중복확인"></p>
        <p><span>비밀번호 : </span><input type="password" id="joinPassword" required></p>
        <p><span>이메일 : </span><input type="text" id="joinEmail" required></p>
        <p><span>폰번호 :  </span><input type="text" id="phone" required></p>
        <p><span>이름 : </span><input type="text" id="joinName" required></p>

        <div id="button">
            <input type="button" id="join" value="회원가입">
            <input type="button" id="cancel" value="취소">
        </div>
    </form>

</div>
{{>layout/footer}}