{{>layout/header}} <!-- >는 현재 머스테치 파일을 기준으로 다른 파일을 가져옴. -->
<form>
아이디 : <input type="text" id="joinId" required><br>
비밀번호 : <input type="password" id="joinPassword" required><br>
이메일 : <input type="text" id="joinEmail" required><br>
폰번호 :  <input type="text" id="phone" required><br>
이름 : <input type="text" id="joinName" required><br>
    <input type="button" id="join" value="회원가입">
    <input type="button" id="cancel" value="취소">
</form>
{{>layout/footer}}