{{>layout/header}} <!-- >는 현재 머스테치 파일을 기준으로 다른 파일을 가져옴. -->
<form action="/rest/login" method="post">
아이디 : <input type="text" id="id" required>
비밀번호 : <input type="password" id="password" required>
    <input type="submit" id="loginPageLogin" value="로그인">
</form>
<input type="button" id="loginPageJoin" value="회원가입">
{{>layout/footer}}