{{>layout/header}} <!-- >는 현재 머스테치 파일을 기준으로 다른 파일을 가져옴. -->
<h1>charging station page</h1>

충전소 등록하기 <br>
남는 충전소가 있으신가요? <br>
충전소와 공간을 등록한 후 수입을 만들어보세요.<br>
<font color="red">* 대표자가 아닌 경우 진행이 불가능합니다. *</font><br>
<a href="/chargingStation/chargingRegister" role="button" class="btn btn-primary">등록하기</a>

{{>layout/footer}}