<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/mustache.js"></script>
</head>
<body>
<div id="formWrapper">

</div>

<script id="tmpl" type="x-template">
    <form>
        <label><input type="radio" name="gender" value="male"{{#maleIsDefault}} checked{{/maleIsDefault}}> Male</label>
        <label><input type="radio" name="gender" value="female"{{#femaleIsDefault}} checked{{/femaleIsDefault}}> Female</label>
    </form>
</script>

<script type="text/javascript">
    var data = {
        gender: 'female',
        maleIsDefault: function() {
            return this.gender == 'male';
        },
        femaleIsDefault: function() {
            return this.gender == 'female';
        }
    };

    var template = $("#tmpl").html();
    var result = Mustache.render(template, data);

    $("#formWrapper").html(result);

</script>

</body>z
</html>