{{>layout/header}}
<div id="happyWarp">
    <div id="happySearch">  <!-- 상단 검색바 -->
        <input type="text" id="hpSearch" placeholder="'전기차 충전소'를 검색해보세요!">
        <button type="button">검색</button>
        <button type="button" class="btn btn-primary" id="btn-save">검색 필터</button>
    </div>

    <div id="map">  <!-- 지도 영역 -->
        <embed src="https://seung9721.neocities.org/">
    </div>
</div>
{{>layout/footer}}