{{>layout/header}}
<h1>주차장 등록</h1>
<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <p>주차장 명</p>
                <input type="text" id="parkingName" name="parkingName" placeholder="예) 영진주차장">
            </div>

            <div class="form-group">
                <p>주차장 타입</p>
                <input type="radio" id="parkingName" name="parkingType" value="1">단독주택
                <input type="radio" id="parkingName" name="parkingType" value="2">개인 사유지
                <input type="radio" id="parkingName" name="parkingType" value="3" checked>공동주택
                <input type="radio" id="parkingName" name="parkingType" value="4">기타
            </div>

            <div class="form-group">
                <p>주차공간 수</p>
                <input type="text" id="parkingSize" name="parkingSize" placeholder="예)20칸">
            </div>

            <div class="form-group">
                <p>기본 요금</p>
                30분당 <input type="text" id="parkingBaseMin" name="parkingSize" placeholder="예)800원"><br>
                <p>추가 요금</p>
                10분당 <input type="text" id="parkingAddMin" name="parkingSize" placeholder="예)300원">
            </div>

            <div class="form-group">
                <p>운영 시간</p>
                <input type="text" id="amHour" name="amHour" placeholder="9"> :
                <input type="text" id="amMin" name="amMin" placeholder="00"> ~
                <input type="text" id="pmHour" name="pmHour" placeholder="16">
                <input type="text" id="pmMin" name="pmMin" placeholder="00">
            </div>

            <div class="form-group">
                <h1>주소</h1>
                <p>주소를 검색하여 주소를 등록해주세요</p>
                기본주소<br>
                <input type="text" id="HappyBaseAddr" placeholder="충전소 주소가 없습니다."><br>
                상세주소<br>
                <input type="text" id="HappyDetailedAddr" placeholder="충전소 주소가 없습니다."><br><br>
            </div>

            <div class="form-group">
                <h1>사진</h1>
                <p>충전소 사진을 등록해보세요</p>
                <ul>

                </ul>
                <input type="file" name="file">
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>
{{>layout/footer}}