{{>layout/header}}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=31e2bf5613ce6e27d859ca41bb71d46e&libraries=services"></script>
<div id="map" style="width:100%;height:350px;"></div>

<!-- Modal -->


<table class="table table-horizontal" table-border>
    <thead class="thead-strong">
    <tr>
        <th>도로명 주소</th>
        <th>평일</th>
        <th>주말</th>
        <th>휴일</th>
        <th>30분당</th>
        <th>추가10분당</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#parking}}
        <tr>
            <td>{{SAMPLE4_ROADADDRESS}}</td>
            <td>{{DAYTIME}}</td>
            <td>{{WEETIME}}</td>
            <td>{{HOLTIME}}</td>
            <td>{{MIN30FEE}}</td>
            <td>{{ADDMIN10FEE}}</td>
        </tr>
    {{/parking}}
    </tbody>
</table>



    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">주차장 예약</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div>주차장 사진 공간</div>
                    <div class="info">
                        <div class="address"><p>주소 : <span id="sample4_ROADADDRESS"></span></p>
                            <ul>
                                <li><span class="title">운영시간</span><br>
                                    <span>평일 : <span id="daytime"></span></span><br>
                                    <span>주말 : <span id="weetime"></span></span><br>
                                    <span>휴일 : <span id="holtime"></span></span>

                                </li><br>
                                <li><span class="title">주차요금</span><br>
                                    <span>30분당 : <span id="min30FEE"></span></span><br>
                                    <span>추가 10분당 : <span id="addmin10FEE"></span></span>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-primary" id="check_module" >결제하기</button>
                    </div>
                </div>
            </div>
        </div>

    <script>
        $('#check_module').on('click', function () {

            var IMP = window.IMP; // 생략가능
            IMP.init('imp89563591'); // 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용

            IMP.request_pay({
                pg : 'kakao', // version 1.1.0부터 지원.
                pay_method : 'card',
                merchant_uid : 'merchant_' + new Date().getTime(),
                name : '좀 돼라',
                amount : 15981,
                buyer_email : 'pjy4952@gmail.com',
                buyer_name : '윤제혀이',
                buyer_tel : '010-1234-5678',
                buyer_addr : '서울특별시 강남구 삼성동 구구로99',
                buyer_postcode : '123-456',
                m_redirect_url : 'https://www.naver.com'
            }, function(rsp) {
                if ( rsp.success ) {
                    var msg = '결제가 완료되었습니다.';
                    msg += '고유ID : ' + rsp.imp_uid;
                    msg += '상점 거래ID : ' + rsp.merchant_uid;
                    msg += '결제 금액 : ' + rsp.paid_amount;
                    msg += '카드 승인번호 : ' + rsp.apply_num;
                } else {
                    var msg = '결제에 실패하였습니다.';
                    msg += '에러내용 : ' + rsp.error_msg;
                }
                alert(msg);
            });
        });
    </script>

    <script>

        var BigData = [];
        console.log("빅데이터 : " +BigData.toString());
        console.log("빅데이터 길이: " +BigData.length);


        var sample4_ROADADDRESS = [];
        var daytime = [];
        var weetime = [];
        var holtime = [];
        var addmin10FEE = [];
        var min30FEE = [];
        var lat = [];
        var lng = [];

        var aa = "";
        var bb = "";
        var cc = "";
        var dd = "";
        var ee = "";
        var ff = "";
        var gg = "";
        var hh = "";
        var jj = "";

        function parking(parkingname) {
            var parkingname = [];
            return {
                get_parkingname : function(){
                    return parkingname;
                },
                set_parkingname : function(_parkingname) {
                    return parkingname = _parkingname
                }
            }
        }

        function print() {
            for(var i=0; i<parkingname.length; i++){
                 aa = console.log("parkingname 길이: " +parkingname[i]);
                 bb = console.log("sample4_ROADADDRESS 길이: " +sample4_ROADADDRESS[i]);
                 cc = console.log("daytime 길이: " +daytime[i]);
                 dd = console.log("weetime 길이: " +weetime[i]);
                 ee = console.log("holtime 길이: " +holtime[i]);
                 ff = console.log("addmin10FEE 길이: " +addmin10FEE[i]);
                 gg = console.log("min30FEE 길이: " +min30FEE[i]);
                 hh = console.log("lat 길이: " +lat[i]);
                 jj = console.log("lng 길이: " +lng[i]);
            }
        }

        print();
        console.log("parkingname 길이: " + get_parkingname());
        console.log("sample4_ROADADDRESS 길이: " +bb);
        console.log("daytime 길이: " + cc);
        console.log("weetime 길이: " + dd);
        console.log("holtime 길이: " + ee);
        console.log("addmin10FEE 길이: " +ff);
        console.log("min30FEE 길이: " +gg);
        console.log("lat 길이: " +hh);
        console.log("lng 길이: " +jj);

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(35.85808541505605, 128.51171111768122), // 지도의 중심좌표
                    level: 2 // 지도의 확대 레벨
                };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        function getParking(){
             da_makers = [];
            $.ajax({
                url : '/happyParking/happyParkingSearchData',
                type : 'GET',
                cache : false,
                success : function(data) {
                    for ( i = 0; i < data.length; i++) {
                        console.log(data[i]);
                        // 마커를 생성합니다
                        var marker = new kakao.maps.Marker({
                            map: map, // 마커를 표시할 지도
                            position: new kakao.maps.LatLng(data[i].lat, data[i].lng), // 마커의 위치
                        });

                        da_makers.push(marker);
                        // console.log("da_makers 길이 : " + da_makers.length);
                        // getData = [
                        //     aparkingname = data[i].parkingname,
                        //     asample4_ROADADDRESS = data[i].sample4_ROADADDRESS,
                        //     adaytime= data[i].daytime,
                        //     aweetime= data[i].weetime,
                        //     aholtime= data[i].holtime,
                        //     aaddmin10FEE= data[i].addmin10FEE,
                        //     amin30FEE= data[i].min30FEE,
                        //     alat = data[i].lat,
                        //     alng = data[i].lng
                        // ];
                        // BigData.push(getData);
                        // console.log("빅테타 : " + BigData.push(getData));

                        var content =
                                '<div align="center" style="border-radius: 2em; display:inline-block; clear:both; height: auto;' +
                                'width: auto; overflow:hidden;"> ' +
                                '사진 들어갈 예정 <br>' + // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다

                        '<h5>' + data[i].parkingname + ' 주차장</h5>' +
                                '주차장 칸 수 : ' + data[i].place + '<br>' +
                        '평일 시간: ' + data[i].daytime + '<br>' +
                                '주말 시간: ' + data[i].weetime + '<br>' +
                                '휴일 시간: ' + data[i].holtime + '<br>' +
                                '<button type="button" id="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">예약하기</button>' +
                                '</div>' // div태그 끝
                                ,
                                iwPosition = new kakao.maps.LatLng(data[i].lat, data[i].lng); //인포윈도우 표시 위치입니다
                        // 마커에 표시할 인포윈도우를 생성합니다
                        var infowindow = new kakao.maps.InfoWindow({
                            content: content, // 인포윈도우에 표시할 내용
                            iwPosition: iwPosition
                        });

                        infowindow.open(map, marker);

                        function aaa() {
                            parkingname[i] = data[i].parkingname;
                            sample4_ROADADDRESS[i] = data[i].sample4_ROADADDRESS;
                            daytime[i] = data[i].daytime;
                            weetime[i] = data[i].weetime;
                            holtime[i] = data[i].holtime;
                            min30FEE[i] = data[i].min30FEE;
                            addmin10FEE[i] = data[i].addmin10FEE;
                            lat[i] = data[i].lat;
                            lng[i] = data[i].lng;
                        }

                    } // for문 끝


                    return parking(parkingname);
                } // success 끝

            }); //ajax 끝
        } // getParking() 끝
        getParking();

    </script>
{{>layout/footer}}