{{>layout/header}} <!-- >는 현재 머스테치 파일을 기준으로 다른 파일을 가져옴. -->
<h1>happy parking page</h1>
<br>
<h2>주차장 등록하기</h2>
남는 공간이나 주차장이 있으신가요?<br>
공간과 주차장을 등록한 후 수입을 만들어보세요.<br>
<a href="/happyParking/happyParkingRegister" role="button">계속</a>
{{>layout/footer}}



